<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <div class="collapse bg-dark" id="navbarHeader">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 col-md-7 py-4">
                <h4 class="text-white">About</h4>
                <p class="text-muted">There are {{ books_amount }} books in this store.</p>
                <p class="text-muted"> {{ author_amount }} authors are registrated in this store.</p>
                <p class="text-muted">You have visited our store {{ visits }} times.</p>
              </div>
              <div class="col-sm-4 offset-md-1 py-4">
                <h4 class="text-white">Contact</h4>
                <ul class="list-unstyled">
                  <li><a href="#" class="text-white">Do not follow on Twitter</a></li>
                  <li><a href="#" class="text-white">Do not Like on Facebook</a></li>
                  <li><a href="#" class="text-white">Do not write me</a></li>
                </ul>
                <b id="timer" class="badge badge-secondary">Session expires in: {{ request.session.get_expiry_age }} seconds</b>
                <script>
                  let Timer = document.getElementById("timer");
                  let SessionTime = {{ request.session.get_expiry_age }};
                  setInterval(countDown, 1000);

                  function countDown() {
                    Timer.innerHTML = `Session expires in: ${SessionTime} seconds`;
                    SessionTime--;
                  } 
                </script>
              </div>
            </div>
          </div>
        </div>
        <div class="navbar navbar-dark bg-dark box-shadow">
          <div class="container d-flex justify-content-between">
            <a href="{% url 'main' %}" class="navbar-brand d-flex align-items-center">
              <strong>BOOK SHOP</strong>
            </a>
            <div>
              {% if user.is_authenticated %}
                {% comment %} <b id="timer" class="badge badge-secondary">Session expires in: {{ request.session.get_expiry_age }} seconds</b>
                <script>
                  let Timer = document.getElementById("timer");
                  let SessionTime = {{ request.session.get_expiry_age }};
                  setInterval(countDown, 1000);

                  function countDown() {
                    Timer.innerHTML = `Session expires in: ${SessionTime} seconds`;
                    SessionTime--;
                  } 
                </script> {% endcomment %}
                <span class="text-white">Hello, {{ user.username }}! </span >
                <div class="btn-group">
                  <div class="container d-flex justify-content-between">
                    <a href="/accounts/logout/" role="button" class="btn btn-outline-danger">Log out</a>
                  </div>
                </div>
              {% else %}
                <div class="btn-group">
                  <div class="container d-flex justify-content-between">
                    <a  href="/accounts/login/" role="button" class="btn btn-outline-success">Log in</a>
                  </div>
                  <div class="container d-flex justify-content-between">
                    <a href="{% url 'registration' %}" role="button" class="btn btn-outline-warning">Sign in</a>
                  </div>
                </div>
              {% endif %}
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
            </div>
          </div>
        </div>
      </div>
      <div class="container d-flex justify-content-between">
      <span></span>
      <span></span>
      <a href="{% url 'cartView' %}"><b id="timer" class="badge badge-light">Cart: {{cart.get_total_quantity}}<img width="20" height="22" src="https://cdn-icons-png.flaticon.com/512/891/891462.png"></b></a>
      </div>
    </header>
    <br>
    <div class="container">
      {% block body %}
      {% endblock %}

  </body>
</html>